body{
    padding: 20px 20px 20px;
    margin: 0 auto;
    font-family: cursive;
    background-color: white;
}

h1{
    color: lightblue;
    text-align: center;
    text-shadow: 3px 3px 1px #736;
}

h2{
    color: lightblue;
    text-shadow: 3px 3px 1px black;
}

h3{
    color: lightblue;
    text-shadow: 3px 3px 1px black;
}

.about{
    text-align: center;
}

.profile{
    float: right;
}

.about{
    float: center;
}

a{
    text-decoration: none;
    background: #926;
    text-shadow: 3px 3px 1px #000;
    border-radius: 5px;
    padding: 3px 3px;
    color:lightblue;


}

img{
    display: block;
    margin: 0 auto;
    width:450px;
    img-align: center;
}